[Desktop Entry]
Name=P1DisplayOffline
Terminal=false
Type=Application
Exec=sudo python3 /home/pi/P1plus_display/P1plus_display_offline.py
Icon=/home/pi/P1Generator/smartmetericon.png
